.tiles-content-container {
  width: 100%;
  min-height: 20rem;
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 600px) {
  .tiles-content-container {
    gap: 30px;
  }
}
