html {
  font-size: 62.5%;
}

@media (min-width: 600px) {
  html {
    font-size: 68%;
  }
}

@media (min-width: 850px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 85%;
  }
}

@media (min-width: 1300px) {
  html {
    font-size: 90%;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: Metropolis;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Metropolis;
  src: url("Metropolis-Regular.otf") format("opentype");
}
