html {
  font-size: 62.5%;
}

body {
  font-family: Metropolis;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App > .container {
  border: 1px solid black;
  width: 100%;
  max-width: 414px;
  min-height: 966px;
  margin: 2rem auto;
}

@font-face {
  font-family: Metropolis;
  src: url("Metropolis-Regular.otf") format("opentype");
}
